#body {
  background: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.info-navbar {
  height: 4rem;
}

.slight-shadow-bottom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-section-wrapper {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  margin-bottom: 20px;
}

.progress-section {
  position: relative;
  transition: all 0.3s ease-in-out;
  max-height: 260px;
  opacity: 1;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-section.hidden {
  max-height: 0;
  opacity: 0;
  padding: 0 !important;
  margin: 0;
  visibility: hidden;
}

.toggle-button {
  height: 32px;
  width: 32px;
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: var(--bs-warning);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-button #chevronIcon {
  transition: transform 0.3s ease-in-out;
}

.progress-section.hidden ~ .toggle-button #chevronIcon {
  transform: rotate(180deg);
}

.text-decoration-line-dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

pre[class*="language-"],
code[class*="language-"] {
  font-size: 12px;
}

.wrap-break {
  word-wrap: break-word;
}

#dogImage {
  max-height: 400px;
}
